@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    transition-duration: 500ms;
    animation: opacity-animation 1s
}

@keyframes opacity-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}